In [1]:
import pandas as pd

In [2]:
member_total = pd.read_excel('C:/Users/CPBUserN/Desktop/으억/한국경제신문관련회원데이터추출_20200921_회원.xlsx', encoding = 'cp949')

In [3]:
member_matching1 = pd.read_excel('C:/Users/CPBUserN/Desktop/으억/회원matching.xlsx', sheet_name='Sheet1' ,encoding = 'cp949')
member_matching2 = pd.read_excel('C:/Users/CPBUserN/Desktop/으억/회원matching.xlsx', sheet_name='Sheet2' ,encoding = 'cp949')
member_matching3 = pd.read_excel('C:/Users/CPBUserN/Desktop/으억/회원matching.xlsx', sheet_name='Sheet3' ,encoding = 'cp949')
member_matching4 = pd.read_excel('C:/Users/CPBUserN/Desktop/으억/회원matching.xlsx', sheet_name='Sheet4' ,encoding = 'cp949')
member_matching5 = pd.read_excel('C:/Users/CPBUserN/Desktop/으억/회원matching.xlsx', sheet_name='Sheet5' ,encoding = 'cp949')

In [4]:
frame = [ member_matching1,member_matching2,member_matching3,member_matching4,member_matching5 ]
member_matching = pd.concat(frame)

In [52]:
member_matching.head()

,Unnamed: 0,고객사명,발신자번호,수신자번호,브랜드명,상품명,단가,메세지내용,발송일시,교환일시,생년,성별
0,0,K쇼핑,NSA6YYtXlifD+p8BPklURQ==,XzCClDfJ3wMMiptwnweRBg==,스타벅스,그린티 프라푸치노 Tall,6300,항상 응원합니다. 힘내세요.,20190101025608,NaN,1965,FEMALE
1,1,K쇼핑,NSA6YYtXlifD+p8BPklURQ==,XzCClDfJ3wMMiptwnweRBg==,스타벅스,카페아메리카노 Tall,4100,감사합니다.,20190131232954,NaN,1965,FEMALE
2,2,K쇼핑,NSA6YYtXlifD+p8BPklURQ==,XzCClDfJ3wMMiptwnweRBg==,투썸플레이스,마카롱,2200,감사합니다.,20190405234913,NaN,1965,FEMALE
3,3,기프티쇼_컬쳐랜드,ANKebcMuSS3enu4aecsU0A==,VLpW6B/nUcXcKMho5i8Nlg==,GS25,페레로)킨더조이(보이)1500,1500,이제 18세네 나이 값해라,20190101000001,2.019011e+13,2002,MALE
4,4,K쇼핑,cK9+3NVXObFg11u1g9WUfA==,MjCc+QfwLUZr8AehwWZgWg==,스타벅스,그린티 프라푸치노 Tall,6300,감사합니다.,20190101001606,NaN,1973,MALE

In [14]:
member_total_count = member_total['Unnamed: 1'].count()          # KTmhows 기프티쇼 전체 회원 수

In [20]:
member_matching_count = pd.Series(member_matching['발신자번호'])

In [26]:
member_matching_count = pd.Series(pd.unique(member_matching_count)).count()

In [33]:
member_matching_count   # 매칭 데이터 회원 수 ( 중복 제거 )

29075

In [48]:
member_total_count   # 기프티쇼 전체 회원수

member_matching_count/member_total_count

0.0953775902847714

In [37]:
member_matching_sales = member_matching['단가'].sum()

In [38]:
member_matching_sales/member_matching_count   # 전체 매칭 데이터 - 1인당 매출액

111652.78280309544

In [39]:
person_matching5 = pd.read_excel('C:/Users/CPBUserN/Desktop/으억/sample_person.xlsx', encoding = 'cp949')

In [40]:
person_matching5_count = pd.Series(person_matching5['발신자번호'])

In [43]:
person_matching5_count = pd.Series(pd.unique(person_matching5_count)).count()

In [44]:
person_matching5_count   # 개인거래

27084

In [45]:
person_matching5_sales = person_matching5['단가'].sum()

In [46]:
person_matching5_sales

988017230

In [47]:
person_matching5_sales/person_matching5_count   # 개인거래 1인당 매출액

36479.73822182839